h2.title Training and Workshops
article
  .half
    p.
      I can teach you the important elements of Ayurvedic Yoga Massage, either in the form of
      an introductory one-day workshop as seen below, or two types of training course, explained on the right.
    
    h2 AYM Workshops
    p.
      I run regular one day workshops designed to introduce you to the essential basic
      skills of Ayurvedic yoga massage. You will learn how to give a back, neck and
      shoulder massage to your friends and family.
    p.
      The workshops cater for complete beginners, or for further enhancing your existing
      skills if you are already a therapist.
    p Prices are &pound;30 for individuals, &pound;50 for a couple (partner or friend)

    table#aymShops
      thead
        tr
          th AYM WORKSHOPS 2022
      tbody
        //- tr
        //-   td
        //-     p none yet

    //- table
      thead
        tr
          th AYM WORKSHOPS 2022
      tbody
        tr
          td
            p AYM Workshop, Hunger Hill Yurts, Newton Poppleford<br>Saturday, 22nd January 10am - 1pm
            button
              a(href='pages/workshops/HungerAymJan.html') click for more info
        
        tr
          td
            p AYM Workshop, derekthedog yoga centre, Exeter<br>Saturday, 1st October 10am - 12pm
            button
              a(href='pages/workshops/derek1Oct.html') more info


  .half  
    h2 Training Courses
    p.
      AYM diplomas are divided into two separate levels, each taking a total of 24 hours to complete.
      The courses combine both practical techniques and theory-based learning.  Courses can be either
      intensive - four days of seven-hour sessions (including one hour lunch-break); or non-intensive -
      divided into four eight-hour sessions over two months.
    p.
      Fully-detailed illustrated manuals will be provided to each student along with the course.
      The successful applicant will be awarded a Ayurvedic Yoga Massage certificate, according to the level
      of the course.
    p.
      It is important to have attended a workshop session before taking the training course. Alternatively,
      you can have a short interview with Saghar either by phoning her on 07974 470 610 or
      <a href='mailto: saghar@ayurvedicyogamassage.org.uk' class='email'>email</a>.
    p The fee is £350, with a £90 deposit requested 2 weeks before start date.

            

    table
      thead
        tr
          th INTENSIVE LEVEL 1<br>TRAINING COURSES 2022
      tbody
        tr
          //- td
          //-   p Mon 14th - Thu 17th March 2022<br>Hunger Hill Yurts, Newton Poppleford
          //-   button
          //-     a(href='pages/workshops/hungerHillMar.html') click for more info
          td to be announced
        
    table
      thead
        tr
          th NON-INTENSIVE LEVEL 1<br>TRAINING SESSIONS
      tbody
        tr
          td to be announced


  
script(src='js/training.js' type='module')