h2.title Massage Treatments
article
  .half
    p.
      Ayurvedic Yoga Massage is a form of deep-tissue massage which takes place on a floor mattress. It involves deep strokes and a series of yoga stretches to help to eliminate toxins and rejuvenate the body.
    p.
      In Ayurvedic Yoga Massage we use both the feet and the hands to manipulate the joints.
    p.
      One of the best things is using calamus powder which helps to stimulate, and is especially good for blood circulation.
  .half
    table
      thead.thead
        tr
          th(colspan=3) Treatment types
      tbody
        tr
          td Indian head massage
          td 20 mins
          td &pound;20
        tr
          td Back and neck massage
          td 30 mins
          td &pound;30
        tr
          td Full body massage
          td 60 mins
          td &pound;60
        tr
          td Deluxe full body massage
          td 90 mins
          td &pound;80

h2 Book a Massage
article
  .text
    p.
      Currently during the pandemic, I offer treatments at my home in Ottery St Mary, Devon.
    p.
      My current system is for you to first book a timeslot for a massage, then please use the button below to pay, thank you.
    button
      a(href='https://my.timetrade.com/book/B6MQM') book a massage timeslot
    
    button
      a(href='pages/pay4massage.html') pay for treatment
  .spacer
  .pic
      img(src='imgs/treatment.jpg')
  


blockquote
  span.quote &ldquo;
  .testimonial.
    I am an Ayurveda practitioner myself, and in a moment of need, when acupuncture or physiotherapy were not helping my situation, I asked Saghar to have a series of focused massages to heal. After two massages only, my foot and my elbow, after six months of pain, were immediately better, and I realized that Saghar can deliver the real core of Ayurveda practice in a majestic way! Deep gratitude.
  .punter Kay

blockquote
  span.quote &ldquo;
  .testimonial.
    After massages around the world over the years it is wonderful to actually find one of the best massages in my locality. Saghar's massage is not weak or general in any way, but specific and strong leaving your body both relaxed and rejuvenated.
  .punter Peter