//- section.welcome

h2.title What is Ayurvedic Yoga Massage?
article
  .text
    p.
      Ayurvedic Yoga Massage has its origins in India and is an ancient healing system
      that uses an effective combination of powerful deep tissue massage with coordinated
      breath work and yoga stretches.
    p.
      The Ayurvedic system stimulates, opens and balances the flow of energy throughout
      the body, assisting in our own natural tendency towards self-healing.

    p.
      Benefits include:
    ul
      li stress relief
      li elimination of toxins
      li stimulation of blood circulation
      li.
        muscular/skeletal realignment leading to improved posture, digestion,
        and increased flexibility
  .spacer
  .pic
    img(src='imgs/gall/gal2_th.jpg')
//- .right
h2 About me
article
  .pic
    img(src='imgs/portrait.jpg')
    a(href='https://www.facebook.com/saghar.amozgar')
      img(src='imgs/facebook.png')
  .spacer
  .text
    p.
      I am Saghar (Nasrien) Amozgar, Persian in origin.  I came to the UK in 2000 after 8 years
      of study in India, completing my PhD in Psychology and my journey of discovery into yoga,
      meditation, and traditional ayurvedic massage.
    p.
      I studied Ayurvedic Yoga Massage under the expert guidance of Swami Varidi, who trained
      with the renowned Kusum Modak herself.  I qualified in Pune 1999.  I continued to work
      closely with Swami Varidi, organising his courses in Europe and assisting him with their
      delivery in the UK.
    p.
      I was fortunate to study in Pune City in the neighbourhood of the Iyengar ashram.  My
      learning and understanding of yoga continued with my qualification from the Sivananda yoga
      center in Kerala, India in 2004.  Since then I have been teaching many classes including
      Muslim women community centres, children and open classes for all.
    p.
      I established the Ayurvedic Yoga Association in 2004.  My passion is sharing my
      experiences and insights gained over the years of body-work, not only through my
      therapeutic work with individuals, but also by running regular workshops and
      professional standard training courses for practitioners to spread this wonderful
      ancient technique around the globe.

blockquote
  span.quote &ldquo;
  .testimonial.
    A massage with Saghar is a very special experience. She has an extraordinary talent for 'reading' the body and what it needs, and her massage is truly healing on both a physical and a psychological level.
  .punter Sarah  