doctype html
html(lang="en")
  head
    include includes/head.pug
    script(type="module" src='js/crud.js')

  body
    h1 firebase CRUD
    ul#userList
    #userDetail
      p name
      .detailName
      p age
      .detailAge
      p email
      .detailEmail
      button#getData get Data!
  
  //- script(type="module" src='js/crud.js')
  script(src='js/try.js')
  